<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008454603797-0m8h5q8j9k7l6n5o4p3r2s1t0u9v8w7x.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008454603797-0m8h5q8j9k7l6n5o4p3r2s1t0u9v8w7x</string>
	<key>API_KEY</key>
	<string>AIzaSyDD-3OGs6grS7m1h6J6lwVhhMYMXH13dRM</string>
	<key>GCM_SENDER_ID</key>
	<string>1008454603797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ELEVATE-TECH-AI.Fortune-Teller</string>
	<key>PROJECT_ID</key>
	<string>meditation-app-cesarvega</string>
	<key>STORAGE_BUCKET</key>
	<string>meditation-app-cesarvega.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008454603797:ios:55d8d7d07bbbffd5672a1c</string>
</dict>
</plist>